<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>TALLER</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Descripcion:</ion-label>
        <ion-input [(ngModel)]="descripcion"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-datetime placeholder="Seleccione la fecha" value="{{fecha | date : 'MM/dd/YYYY' }}" [(ngModel)]="fecha"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Valor:</ion-label>
        <ion-input placeholder="$" [(ngModel)]="valor"></ion-input>
    </ion-item>

    <ion-button size="small" color="success" (click)="guardarGastos()">
        Guardar_Gasto
        <ion-icon name="save-outline"></ion-icon>
    </ion-button>
    <ion-button size="small" color="success" (click)="guardarIngresos()">
        Guardar_Ingreso
        <ion-icon name="save-outline"></ion-icon>
    </ion-button>
    <ion-list>
        <ion-item color="secondary">
            <ion-title>TABLA GASTOS</ion-title>
            <ion-button size="small" color="danger" routerLink="/gastos">
                VER_GASTOS
                <ion-icon color="light" name="eye-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
            <ion-label color="secondary">NOMBRE</ion-label>
            <ion-label color="secondary">DESCRIPCION</ion-label>
            <ion-label color="secondary">FECHA</ion-label>
            <ion-label color="secondary">VALOR</ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item *ngFor="let gasto of gastos">
            <ion-label>{{ gasto.nombre }}</ion-label>
            <ion-label>{{ gasto.descripcion }}</ion-label>
            <ion-label>{{ gasto.fecha }}</ion-label>
            <ion-label>$ {{ gasto.valor }}</ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item color="secondary">
            <ion-title>TABLA INGRESOS</ion-title>
            <ion-button size="small" color="danger" routerLink="/ingresos">
                VER_INGRESOS
                <ion-icon color="light" name="eye-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
            <ion-label color="secondary">NOMBRE</ion-label>
            <ion-label color="secondary">DESCRIPCION</ion-label>
            <ion-label color="secondary">FECHA</ion-label>
            <ion-label color="secondary">VALOR</ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item *ngFor="let ingreso of ingresos">
            <ion-label>{{ ingreso.nombres }}</ion-label>
            <ion-label>{{ ingreso.descripciones }}</ion-label>
            <ion-label>{{ ingreso.fechas }}</ion-label>
            <ion-label>$ {{ ingreso.valores }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>