<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>parcial #1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-button size="small" color="success">
                0
            </ion-button>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="primary" onclick="add('1')">1</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" onclick="add('2')">2</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" onclick="add('3')">3</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="tertiary" onclick="add('+')">+</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="primary" onclick="add('4')">4</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" onclick="add('5')">5</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" onclick="add('6')">6</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="tertiary" onclick="add('-')">-</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="primary" onclick="add('7')">7</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" onclick="add('8')">8</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" onclick="add('9')">9</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="tertiary" onclick="add('*')">*</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <ion-button color="primary" onclick="add('0')">0</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="tertiary" onclick="add('/')">/</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-button color="danger" onclick="del()">AC</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" onclick="add('.')">.</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="success" onclick="calc()">=</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>